<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar id="toolbar" (click)="drawer.toggle();catOpen()">
      <img class="icons" src="../../assets/icons8-life-cycle-80.png">
      Life Online Shopping
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [matMenuTriggerFor]="animals">
        <img class="icons" src="../../assets/women.svg">{{this.dataCategory.woman}}<span class="right"><img
            class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <mat-menu id="Ma" #animals="matMenu">
        <button mat-menu-item>အပေါ်ဝတ်နှင့်ဝမ်းဆက်များ</button>
        <button mat-menu-item>အောက်ပိုင်းဝတ်များ</button>
        <button mat-menu-item>အပေါ်ရုံနှင့်ဂျာကင်များ</button>
        <button mat-menu-item>ရိုးရာပွဲတော်အဝတ်အထည်များ</button>
        <button mat-menu-item>အမျိုးသမီးအသုံးအဆောင်များ</button>
      </mat-menu>
      <a mat-list-item routerLink="/category/item"><img class="icons"
          src="../../assets/men.svg">{{this.dataCategory.man}}<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/hand-bag.svg">
        {{this.dataCategory.bag}}<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span>
      </a>
      <a mat-list-item><img class="icons" src="../../assets/makeover.svg">
        {{this.dataCategory.health}}<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-baby-80.png">
        {{this.dataCategory.baby}}<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-beef-burger-512.png">
        {{this.dataCategory.foods}}<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-sneaker-512.png">{{this.dataCategory.footwear}}<span
          class="right"><img class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-engagement-ring-96.png">
        {{this.dataCategory.jewel}}<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-iphone-x-200.png">
        {{this.dataCategory.phone}}<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons"
          src="../../assets/icons8-reflector-bulb-80.png">{{this.dataCategory.electronic}}<span class="right"><img
            class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="catMenu" color="primary">
      <div class="nav_item_left_green" matTooltip="Click to display categories" (click)="drawer.toggle();catOpen()">
        <div class="ico-menu">
          <img class="icons" src="../../assets/menu.svg">
        </div>
      </div>
      <input id="searchtxt" matInput class="input_search" placeholder="Search....." />

      <img id="searchbtn" class="input_search_btn" src="../../assets/search.svg">

      <img class="input_cart_btn" matTooltip="Click to show Shopping Cart" (click)="open()" src="../../assets/cart.svg">
      <img class="input_z_btn" matTooltip="Click to display categories" (click)="drawer.toggle();catOpen()"
        src="../../assets/menu.svg">
    </mat-toolbar>

    <!-- Add Content Here -->
    <div id="cat-grid" class="grid-container">
      <mat-grid-list cols="6" rowHeight="350px" infiniteScroll [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50" [infiniteScrollContainer]="selector" [fromRoot]="true" (scrolled)="onScrollDown()"
        (scrolledUp)="onScrollUp()">
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>{{this.msgLabel.detail}}</button>
                  <button mat-menu-item>{{this.msgLabel.addtocart}}</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!--- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
-->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>{{this.msgLabel.detail}}</button>
                  <button mat-menu-item>{{this.msgLabel.addtocart}}</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!---    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">

--->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>{{this.msgLabel.detail}}</button>
                  <button mat-menu-item>{{this.msgLabel.addtocart}}</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!--- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
  -->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>{{this.msgLabel.detail}}</button>
                  <button mat-menu-item>{{this.msgLabel.addtocart}}</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!---    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
  
  --->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>{{this.msgLabel.detail}}</button>
                  <button mat-menu-item>{{this.msgLabel.addtocart}}</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!--- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
    -->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>{{this.msgLabel.detail}}</button>
                  <button mat-menu-item>{{this.msgLabel.addtocart}}</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!---    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
    
    --->
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- Add Content Here -->
    <div id="cat-grid-close">

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>