<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar id="toolbar" (click)="drawer.toggle()">
      <img class="icons" src="../../assets/icons8-life-cycle-80.png">
      Life Online Shopping
    </mat-toolbar>
    <mat-nav-list>

      <a mat-list-item [matMenuTriggerFor]="animals">
        <img class="icons" src="../../assets/icons8-girl-480.png"> မ
        ၀တ္<span class="right"><img class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <mat-menu id="Ma" #animals="matMenu">
        <button mat-menu-item>Vertebrates</button>
        <button mat-menu-item>Invertebrates</button>
      </mat-menu>
      <a mat-list-item routerLink="/category/item"><img class="icons" src="../../assets/icons8-boy-96.png">က်ား၀တ္<span
          class="right"><img class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-luggage-128.png">
        အိတ္နွင့္ခရီးေဆာင္အိပ္<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span>
      </a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-lip-gloss-48.png">
        က်န္းမာေရးနွင့္အလွပ<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-baby-80.png">
        ကလေးအသုံးအဆောင္<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-beef-burger-512.png">
        အစားအေသာက္<span class="right"><img class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-sneaker-512.png">ဖိနပ္<span class="right"><img
            class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-engagement-ring-96.png">
        ေက်ာက္မ်က္ရတနာ<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-iphone-x-200.png">
        ဖုန္းနွင့္ဆက္စပ္<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item><img class="icons" src="../../assets/icons8-reflector-bulb-80.png">လွ်ပ္စစ္<span
          class="right"><img class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="catMenu" color="primary">
      <div class="nav_item_left_green" matTooltip="Click to display categories" (click)="drawer.toggle();catOpen()">
        <div class="ico-menu">
          <img class="icons" src="../../assets/baseline_view_carousel_black_48dp.png">
        </div>
      </div>

      <input id="searchtxt" matInput class="input_search" placeholder="Search....." />

      <img id="searchbtn" class="input_search_btn" src="../../assets/icons8-search-80.png">

      <img class="input_cart_btn" matTooltip="Click to show Shopping Cart" (click)="open()"
        src="../../assets/icons8-shopping-cart-80.png">
      <img class="input_z_btn" matTooltip="Click to display categories" (click)="drawer.toggle();catOpen()"
        src="../../assets/round_view_carousel_black_48dp.png">
    </mat-toolbar>

    <!-- Add Content Here -->
    <div class="grid-container">
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!--- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
-->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="this.cols" [rowspan]="this.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{this.cols}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <img class="icons" src="../../assets/more.png">
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Detail Informations</button>
                  <button mat-menu-item> Add to Shopping Cart</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <!---    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">

--->
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>