<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Fonts Information</mat-card-title>
  </mat-card-header>
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-radio-group [(ngModel)]="this.fontType" formControlName="font">
            <mat-radio-button value="z" [checked]="this.fontType==z">Zawgyi Font</mat-radio-button>
            <mat-radio-button value="u" [checked]="this.fontType==u">Unicode Font</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="this.dialogRef.close()"
      type="submit">{{this.msgLabel.close}}</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">{{this.msgLabel.change}}</button>
  </mat-card-actions>
</mat-card>