<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="category" (click)="drawer.toggle()">
        <img class="icons" src="../../assets/icons8-home-64.png">Home<span class="right"><img class="icons_arrow"
            src="../../assets/icons8-expand-arrow-80.png"></span>
      </a>
      <a mat-list-item href="#" (click)="drawer.toggle()">
        <img class="icons" src="../../assets/icons8-outgoing-call-64.png">Contact Us<span class="right"><img
            class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item href="#" (click)="drawer.toggle()">
        <img class="icons" src="../../assets/icons8-more-info-80.png">About Us<span class="right"><img
            class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
      <a mat-list-item href="#" (click)="drawer.toggle()">
        <img class="icons" src="../../assets/icons8-login-64.png">Register/Login<span class="right"><img
            class="icons_arrow" src="../../assets/icons8-expand-arrow-80.png"></span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="nav_item_left" (click)="drawer.toggle()">
        <div class="ico-menu">
          <img class="icons" src="../../assets/list.svg">
        </div>
      </div>
      <div class="nav_item_right_title">
        <div class="ico-menu">
          <span (click)="drawer.toggle()">Life Online Shop</span>
        </div>
      </div>
      <div class="nav_item_right_2nd">
        <div class="ico-menu">
          <span>Register/Login</span>
        </div>
      </div>
      <div class="nav_item_right" id="cart" (click)="openDialog()">
        <div class="ico-menu">
          <span matBadge="8" matBadgeOverlap="false" matBadgeColor="accent"><img class="icons"
              src="../../assets/cart.svg"></span>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>