<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>

      <span id="zawgyi_uni" (click)="openFontDialog()"></span>
      <a mat-list-item routerLink="category" (click)="drawer.toggle()">
        <img class="icons" src="../../assets/house.svg">&nbsp;{{this.nav.Home}}
      </a>
      <a mat-list-item (click)="drawer.toggle()">
        <img class="icons" src="../../assets/smartphone.svg">&nbsp;{{this.nav.ContactUs}}</a>
      <a mat-list-item (click)="drawer.toggle()">
        <img class="icons" src="../../assets/network.svg">&nbsp;{{this.nav.AboutUs}}</a>
      <a mat-list-item (click)="drawer.toggle();openDialogPayment()">
        <img class="icons" src="../../assets/log-in.svg">&nbsp;{{this.nav.Register}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="nav_item_left" (click)="drawer.toggle();openNav()">
        <div class="ico-menu">
          <img class="icons" src="../../assets/list.svg">
        </div>
      </div>
      <div class="nav_item_right_title">
        <div class="ico-menu">
          <button mat-button (click)="drawer.toggle()"><img class="icons"
              src="../../assets/debit-card.svg">T2.0</button>
        </div>
      </div>

      <div class=" nav_item_right_2nd">
        <div class="ico-menu">
          <button mat-button (click)="openDialogPayment()"><img class="icons"
              src="../../assets/log-in.svg">{{this.nav.Register}}</button>
        </div>
      </div>
      <div class="nav_item_right" id="cart" (click)="openDialog()">
        <div class="ico-menu">
          <span matBadge="8" matBadgeOverlap="false" matBadgeColor="accent"><img class="icons"
              src="../../assets/cart.svg"></span>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>